.carouselContainer {
    position: relative;

}



.gallery-container {
    display: flex;
    align-items: center;
    height: 400px;
    max-width: 1000px;
    position: relative;
    margin: 0 auto;
}



.gallery-item {
    height: 200px;
    opacity: 0;
    position: absolute;
    transition: all 0.3s ease-in-out;
    width: 330px;
    z-index: 0;
    border-radius: 15px;
    background-size: contain;
}



.gallery-item-1,
.gallery-item-3 {
    height: 250px;
    opacity: 0.8;
    width: 380px;
    z-index: 1;
}

.gallery-item-1 {
    /* left item */
    left: 20%;
    transform: translateX(-50%);

}

.gallery-item-2 {
    /* center item */
    box-shadow: -2px 5px 33px 6px rgba(0, 0, 0, 0.35);
    height: 300px;
    opacity: 1;
    left: 50%;
    transform: translateX(-50%);
    width: 430px;
    z-index: 2;



}

.gallery-item-3 {
    /* right item */
    left: 80%;
    transform: translateX(-50%);
}

.gallery-item-4 {
    /* behind item */
    opacity: .4;
    left: 30%;
    transform: translateX(-50%);
}

article {
    background-color: #1a1a1a;
    display: flex;
    align-items: center;
    justify-content: center;
}


.gallery-controls-previous,
.gallery-controls-next {
    background-color: transparent;
    border: 0;
    cursor: pointer;
    font-size: 40px;
    top: 50%;
    transform: translate(-50%);
    z-index: 2;
}

.gallery-controls button:focus {
    outline: none;
}

.gallery-controls-previous {
    position: absolute;
    left: 32%;
}

.gallery-controls-next {
    position: absolute;
    right: 32%;

}